<footer class="mt-5 text-center text-md-start text-muted bg-body-secondary">
    <section class="container-xxl p-5">
        <div class="row mt-4">
            <div class="col-md-12 col-lg-3 mb-5">
                <h6 class="fw-bold mb-4">AVENTIA</h6>
                <p class="pe-lg-5">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Modi doloribus impedit inventore labore cum nihil
                    eum quibusdam rerum facilis architecto?
                </p>
            </div>

            <div class="col-md-4 col-lg-3 mb-5">
                <h6 class="fw-bold mb-4">PRODUKTER</h6>
                <p><a href="#" class="text-reset">Digital Avstemning</a></p>
                <p><a href="#" class="text-reset">KommuneTV</a></p>
                <p><a href="#" class="text-reset">Automatisk Varainnkalling</a></p>
                <p><a href="#" class="text-reset">Totalkunde</a></p>
            </div>

            <div class="col-md-4 col-lg-3 mb-5">
                <h6 class="fw-bold mb-4">LENKER</h6>
                <p><a href="#" class="text-reset">GDPR</a></p>
                <p><a href="#" class="text-reset">Cookies</a></p>
                <p><a href="#" class="text-reset">Bruksvilkår</a></p>
                <p><a href="#" class="text-reset">Personvern</a></p>
            </div>

            <div class="col-md-4 col-lg-3">
                <h6 class="fw-bold mb-4">KONTAKT</h6>
                <p>Stalsbergveien 1, 3128 Nøtterøy NO</p>
                <p>post&#64;aventia.com</p>
                <p>+47 33 80 91 19</p>
            </div>
        </div>
    </section>

    <div class="p-4 text-center bg-primary-subtle">
        Copyright &copy; 2024 - Aventia
    </div>
</footer>