.nav-link {
    color: white;
}

.nav-link:hover,
.nav-link:focus-visible {
    color: orangered
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover,
.dropdown-item:focus-visible {
    color: black;
}