<ul class="p-0">
    <div class="d-flex justify-content-between align-items-baseline mb-2">
        <h3 class="h4">Bokmerker</h3>
        <div class="badge text-bg-secondary">{{video['bookmarks'].length}}</div>
    </div>

    <div ngbAccordion [closeOthers]="true">
        @for(bookmark of video['bookmarks']; track bookmark.id) {
        <div ngbAccordionItem class="border-2">
            <div class="d-flex justify-content-between align-items-center p-2 bg-secondary-subtle">
                <button ngbTooltip="Spill" [ngClass]="{'btn-success': bookmark.id === activeBookmark?.['id']}"
                    class="btn btn-primary btn-sm d-flex gap-2" (click)="playBookmark(bookmark)">
                    <fa-icon [icon]="faPlay" />
                    {{bookmark.started | date: 'mm:ss'}} - {{bookmark.ended | date: 'mm:ss'}}
                </button>
                <div ngbTooltip="Dokumenter" class="fs-5 text-muted d-flex gap-2">
                    <fa-icon [icon]="faFile" /> {{bookmark.documents.length}}
                </div>
            </div>

            <h4 ngbAccordionHeader>
                <button ngbAccordionButton class="rounded-top-0">
                    <span class="me-3">{{ bookmark.title }}</span>
                </button>
            </h4>

            <div ngbAccordionCollapse>
                <ng-container *ngIf="bookmark.documents.length">
                    <h5 class="m-0 p-3 pb-0">Dokumenter</h5>
                    <div ngbAccordionBody>
                        <ng-template>
                            <ol class="list-group list-group-numbered">
                                @for(document of bookmark.documents; track document.id) {
                                <li class="list-group-item d-flex justify-content-between align-items-baseline">
                                    <div class="ms-3 w-100">
                                        <div class="fw-bold">{{document.title}}
                                        </div> {{document.filename}}
                                    </div>
                                    <button class="btn btn-outline-dark btn-sm" ngbTooltip="Last Ned">
                                        <fa-icon [icon]="faDownload" />
                                    </button>
                                </li>
                                }
                            </ol>
                        </ng-template>
                    </div>
                </ng-container>
                <h5 *ngIf="!bookmark.documents.length" class="m-0 p-3">
                    Ingen dokumenter...
                </h5>
            </div>
        </div>
        }
    </div>
</ul>