<div class="d-flex flex-column gap-2 p-3 rounded-3 bg-light">
    <div class="d-flex justify-content-between align-items-baseline gap-3">
        <h2 class="h4 text-truncate">{{bookmark?.['title']}}&nbsp;</h2>

        <div class="badge text-bg-secondary d-none d-lg-block">
            {{video['stream'].publishDate | date: 'medium'}}
        </div>
    </div>

    <video #videoPlayer class="rounded-3 w-100" controls [poster]="video['stream'].imageUrl">
        <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
        Your browser does not support video.
    </video>

    <div class="d-flex gap-3 fs-5 text-muted">
        <div class="d-flex gap-2 me-auto">
            <fa-icon [icon]="faEye" />
            {{video['stream'].views}} visninger
        </div>

        <div class="d-flex gap-2" placement="bottom" ngbTooltip="Liker">
            <fa-icon [icon]="faThumbsUp" />
            {{video['stream'].likes}}
        </div>

        <div class="d-flex gap-2" placement="bottom" ngbTooltip="Misliker">
            <fa-icon [icon]="faThumbsDown" />
            {{video['stream'].dislikes}}
        </div>
    </div>
</div>